/.project
/.settings
/demo/.project
/demo/.settings
/.gitignore
/demo/modules/interface/.classpath
/demo/modules/interface/.gitignore
/demo/modules/interface/.project
/demo/modules/interface/.settings
/demo/modules/interface/bin
/demo/modules/parent/.project
/demo/modules/service/.classpath
/demo/modules/service/.gitignore
/demo/modules/service/.project
/demo/modules/service/.settings
/demo/modules/service/bin
/demo/modules/service/dependency-reduced-pom.xml
/demo/modules/service/kepler_15402.pid
/modules/client/.classpath
/modules/client/.gitignore
/modules/client/.project
/modules/client/.settings
/modules/client/bin
/modules/parent/.project